<ng-container *ngIf="timer$ | async as timer">
  {{ timer }}
  <my-component
    *ngIf="timer > 1 && timer < 4"
    [timer]="timer"
    (ngxInit)="log('init')"
    (ngxDestroy)="log('destroy')"
    (ngxChanges)="log('changes', $event)"
    (ngxViewInit)="log('view Init')"
    (ngxDoCheck)="log('do check')"
    (ngxContentChecked)="log('content checked')"
    (ngxContentInit)="log('content init')"
    (ngxViewChecked)="log('view checked')"
    [appCompatibility]="timer"
    (directiveChanges)="log('changes custom')"
  >
  </my-component>
</ng-container>
